<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>14715182327-do9uq8vepbkdbthjj5g0kooelb8h1cu5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.14715182327-do9uq8vepbkdbthjj5g0kooelb8h1cu5</string>
	<key>API_KEY</key>
	<string>AIzaSyAHxMgUNDwUY0jDaYEL4CY1I7j8dAfzpCA</string>
	<key>GCM_SENDER_ID</key>
	<string>14715182327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>movies-app-c5c2b</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-app-c5c2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:14715182327:ios:74284f0c9820eb8110c7f2</string>
</dict>
</plist>